@import url('https://fonts.google.com/specimen/Poppins');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #749F82;
}

body{
    font-family: 'Poppins';
}

span {
    width: 30px;
    background-color: #425F57;
}
}
.wdh-navigs{
    max-width: 1200px;
    margin: 0 auto;
}

.navigs{
    position: fixed;
    font-family: 'Poppins';
    background-color: #425F57;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    z-index: 99;
}

.navigs a{
    color: black;
    background-color: #425F57;
    text-decoration: none;
    padding: 7px 15px;
    transition: all 0.2s ease-in-out;
}

.navigs .wdh-navigs{
    display: flex;
    background-color: #425F57;
    justify-content: space-between;
    align-items: center;
    padding: 20px ;
    padding-right: 20px;
    padding-left: 20px;
    transition: all 0.3s ease-in-out;

}

.navigs .nyala{
    font-weight: bold;
}

.isi{
    padding: 30px;
    display: none;
    box-shadow: 0px 10px 60px 15px rgb(0 0 0 / 20%);
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}
.navigs ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}


.navigs a:hover{
    color: black;
}

.logo{
    color: black;
    font-size: 25px;
    font-weight: bold;
}


.sosmed{
    text-decoration: none;
}

.tengah{
    text-align: center;
}

.instagram{
    color: #c62828;
}

